// code found at https://www.youtube.com/watch?v=UPJz2B00kS8
$feature-flags: (
	components-x: true,
	breaking-changes-x: true,
	grid: true,
	ui-shell: true
);

// https://github.com/carbon-design-system/carbon-components-svelte
@import 'carbon-components-svelte/css/g10.css';
